<div class="cookies">
    <div class="cookies__container">
        <div class="cookies__icon">
            <img src="https://d3b6muno9lbfvx.cloudfront.net/ax-digital/icons/cookie.svg" alt="">
        </div>
        <div class="cookies__text">
            <p class="cookies__text-desk">
                We use cookies to enhance your experience. By continuing to browse, you consent to our use of cookies as
                outlined in our <a href="/cookies">Cookies Policy</a>.
            </p>
            <p class='cookies__text-mob'>This website uses cookies. <br><a href="/cookies">Cookies Policy</a></p>
        </div>

        <div class="cookies__btn tap-animation">
            <button class="arrow-btn accept-cookie" type="button">
                <span>
                    Accept
                    <img src="https://d3b6muno9lbfvx.cloudfront.net/ax-digital/icons/arrow-link.svg" alt="">
                </span>
                <span>
                    Accept
                    <img src="https://d3b6muno9lbfvx.cloudfront.net/ax-digital/icons/arrow-link.svg" alt="">
                </span>
            </button>
        </div>

        <button class="cookies__close accept-cookie" type="button">
            <img src="https://d3b6muno9lbfvx.cloudfront.net/ax-digital/icons/close-light.svg" alt="">
        </button>
    </div>

</div>