<!-- <footer class="footer">
  <div class="footer-bg">
    <img src="https://d3b6muno9lbfvx.cloudfront.net/ax-digital/footer/circle_01.png" alt="" />
    <img src="https://d3b6muno9lbfvx.cloudfront.net/ax-digital/footer/circle_01.png" alt="" />
    <img src="https://d3b6muno9lbfvx.cloudfront.net/ax-digital/footer/circle_01.png" alt="" />
  </div>

  <div class="footer__container">
    <div class="footer__inner">
      <div class="footer__body">
        <h2 class="footer__title">
          Stay with AX. <br />
          Stay ahead
        </h2>
        <div class="footer__btn tap-animation">
          <div class="arrow-btn__wrapper">
            <div class="arrow-btn__container">
              <button class="arrow-btn">
                <span>
                  Stay with us
                  <img src="./https://d3b6muno9lbfvx.cloudfront.net/ax-digital/icons/arrow-link.svg" alt="">
                </span>
                <span>
                  Stay with us
                  <img src="./https://d3b6muno9lbfvx.cloudfront.net/ax-digital/icons/arrow-link.svg" alt="">
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__bottom">
        <div class="footer__copyright">
          <span>2024</span> All right are copyrighted
        </div>
        <div class="footer__socials">
          <a href="#" class="link-hh tap-animation">
            <p> Head hunter
              <span></span>
            </p>
          </a>
          <a href="#" class="link-dribble tap-animation">
            <p> Dribble
              <span></span>
            </p>
          </a>
          <a href="#" class="link-facebook tap-animation">
            <p> Facebook
              <span></span>
            </p>
          </a>
          <a href="#" class="link-insta tap-animation">
            <p> Instagram
              <span></span>
            </p>
          </a>
          <a href="#" class="link-in tap-animation">
            <p> LinkedIn
              <span></span>
            </p>
          </a>
          <a href="#" class="link-be tap-animation">
            <p> Behance
              <span></span>
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer> -->

<footer class="footer">
  <div class="footer__bg">
    <img src="https://d3b6muno9lbfvx.cloudfront.net/ax-digital/footer/circle_01.png" alt="" />
    <img src="https://d3b6muno9lbfvx.cloudfront.net/ax-digital/footer/circle_01.png" alt="" />
    <img src="https://d3b6muno9lbfvx.cloudfront.net/ax-digital/footer/circle_01.png" alt="" />
  </div>

  <div class="footer__container">

    <div class="footer__inner">

      <div class="footer__form">
        <h6 class="footer__form-sub">
          Feedback
        </h6>
        <h4 class="footer__form-title">
          Fill info <br> about yourself.
        </h4>

        <form action="">

          <div class="footer__form-input">
            <label for="name">Your name</label>
            <input type="text" id="name" required name="name">
          </div>

          <div class="footer__form-input">
            <label for="email">Email</label>
            <input type="email" id="email" required name="email">
          </div>

          <div class="footer__form-input">
            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" required name="phone">
          </div>

          <div class="footer__form-btn tap-animation">
            <div class="arrow-btn__wrapper">
              <div class="arrow-btn__container">
                <button class="arrow-btn" type="submit">
                  <span>
                    Stay with us
                    <img src="./https://d3b6muno9lbfvx.cloudfront.net/ax-digital/icons/arrow-link.svg" alt="">
                  </span>
                  <span>
                    Stay with us
                    <img src="./https://d3b6muno9lbfvx.cloudfront.net/ax-digital/icons/arrow-link.svg" alt="">
                  </span>
                </button>
              </div>
            </div>
          </div>

        </form>

      </div>

      <div class="footer__content">
        <h2 class="footer__title">
          Stay with AX. <br />
          Stay ahead
        </h2>

        <div class="footer__info">

          <div class="information">
            <h6>Information</h6>
            <ul>
              <li><a href="/privacy-policy">Privacy</a></li>
              <li><a href="/term">Terms Of Use</a></li>
            </ul>
          </div>

          <div class="contact-us">
            <h6>contact us</h6>
            <ul>
              <li><a href="tel:">+1 890 123-52-61</a></li>
              <li><a href="mailto:">info@logoipsum.com</a></li>
            </ul>
          </div>

        </div>

        <div class="footer__socials">
          <a href="#" class="link-hh tap-animation">
            <p> Head hunter <span></span></p>
          </a>
          <a href="#" class="link-dribble tap-animation">
            <p> Dribble <span></span> </p>
          </a>
          <a href="#" class="link-facebook tap-animation">
            <p> Facebook <span></span> </p>
          </a>
          <a href="#" class="link-insta tap-animation">
            <p> Instagram <span></span> </p>
          </a>
          <a href="#" class="link-in tap-animation">
            <p> LinkedIn <span></span> </p>
          </a>
          <a href="#" class="link-be tap-animation">
            <p> Behance <span></span> </p>
          </a>
        </div>

      </div>
    </div>

    <div class="footer__bottom">

      <div class="footer__copyright">
        <span>2024</span> All right are copyrighted
      </div>

      <div class="footer__logo">
        <img src="./https://d3b6muno9lbfvx.cloudfront.net/ax-digital/icons/logo.svg" alt="">
      </div>

      <div class="footer__bottom-text">
        <p>
          All rights reserved
        </p>
      </div>

    </div>
  </div>
</footer>