<div id="popupContact" class="contact-popup popup no-webp">
    <div class="popup__overlay" data-close-popup></div>
    <div class="popup__wrapper contact-popup__wrapper">
        <button data-close-popup="" type="button" class="popup__close contact-popup__close"></button>
        <div class="contact-popup__form">
            <h6 class="contact-popup__form-sub">
                REACH OUT
            </h6>
            <h4 class="contact-popup__form-title">
                Fill in the form to get in touch
            </h4>

            <form action="">

                <div class="contact-popup__form-input">
                    <label for="name">Your name</label>
                    <input type="text" id="name" required name="name">
                </div>

                <div class="contact-popup__form-input">
                    <label for="email">Your E-Mail</label>
                    <input type="email" id="email" required name="email">
                </div>

                <div class="contact-popup__form-input">
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" required name="phone">
                </div>

                <div class="contact-popup__form-btn tap-animation">
                    <div class="arrow-btn__wrapper">
                        <div class="arrow-btn__container">
                            <button class="arrow-btn" type="submit">
                                <span>
                                    Contact us
                                    <img src="https://d3b6muno9lbfvx.cloudfront.net/ax-digital/icons/arrow-link.svg"
                                        alt="">
                                </span>
                                <span>
                                    Contact us
                                    <img src="https://d3b6muno9lbfvx.cloudfront.net/ax-digital/icons/arrow-link.svg"
                                        alt="">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>