<div class="success">
    <div class="popup__overlay success__overlay" data-close-popup=""></div>

    <div class="success__wrapper">
        <button data-close-popup type="button" class="success__close-btn"></button>
        <div class="success__inner">
            <div class="success__icon">
                <div class="my-checkbox">
                    <svg viewBox="0 0 24 24" filter="url(#goo-light)">
                        <path class="tick" d="M4.5 10L10.5 16L24.5 1"></path>
                        <circle class="dot" cx="10.5" cy="15.5" r="1.5"></circle>
                        <circle class="drop" cx="25" cy="-1" r="2"></circle>
                    </svg>
                </div>
            </div>
            <div class="success__content">
                <h6 class="success__title">
                    Well done!
                </h6>
                <p class="success__text">
                    You successfully read this important message.
                </p>
            </div>
        </div>
    </div>
</div>