body {
  height: 100vh;
  margin: 0;
  /* background-image: radial-gradient(circle farthest-corner, #060a33, #000000);
	background-repeat: no-repeat; */
  background-color: black;
}

.fancy-loader {
  /* transform: scaleY(0.8); */
}
.fancy-loader__wrapper {
}

canvas {
  /* transform: scale(1.2); */
}
